@model IEnumerable<HungryWeb.Models.FoodImages>

@{
    ViewBag.Title = "Imagenes";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Upload New Image", "Upload")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameFile)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameFile)
        </td>
        <td>
            @if (!string.IsNullOrWhiteSpace(item.NameFile))
            {
                <img src="@(Url.Content(Constantes.ImagePathDefault)+item.NameFile)" />
            }
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
