@model HungryWeb.ViewModels.DetailedOrderViewModel

<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrdenID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comensal.ComensalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado.Descripcion)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.OrdenID)
            </td>
            <td>
                @Html.DisplayFor(model => model.comensal.ComensalId)
            </td>
            <td>
                @Html.DisplayFor(model => model.estado.Descripcion)
            </td>
        </tr>
    </table>
</div>

<div class="jumbotron">

    <h3>Descripcion de la orden</h3>

    <table class="table">

        <tr>
            <th>
                @Html.DisplayName("Platillo")
            </th>
            <th>
                @Html.DisplayName("Cantidad")
            </th>
            <th>
                @Html.DisplayName("Precio Unitario")
            </th>
            <th>
                @Html.DisplayName("Acumulado")
            </th>
        </tr>

     @{double acumulado = 0;

         foreach (var item in Model.menu)
         {
             acumulado = (double)item.Alimento.Precio * item.Quantity.Value;
           <tr>
                <td>
                    @Html.DisplayFor(m => item.Alimento.Nombre)
                </td>
               <td>
                   @Html.DisplayFor(m => item.Quantity)
               </td>
                <td>
                    @Html.DisplayFor(m => item.Alimento.Precio)
                </td>
               <td>
                   @Html.DisplayFor(m => acumulado)
               </td>
          </tr>
         }

    }
        <tr>
            <td>
                <strong>  Total: </strong>
            </td>
            <td></td>
            <td></td>
            <td>
                <strong> @Model.totalMenu </strong>
            </td>
        </tr>


    </table>



</div>

