@model HungryWeb.Models3.Ordenes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ordenes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comensales.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comensales.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrdenID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
