@model IEnumerable<HungryWeb.ViewModels.SlimOrdersViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Ordenes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrdenID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComensalID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdenFecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoDescripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrdenID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComensalID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrdenFecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoDescripcion)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.OrdenID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrdenID })
        </td>
    </tr>
}

</table>
